.board{
  background-image: linear-gradient(to top, #051937, #133760, #1d588d, #1f7cbb, #12a2eb); 
  width: 450px;
  margin: auto;
}
.board > .cell{
  display: inline-block;
  width: calc(405px / 7);
  height: calc(405px / 7);
  background: white;
  border-radius: 50%;
  margin: 3px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}

.board-action{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px){
  .board{
    width: 325px;
  }
  .board > .cell{
    width: calc(290px / 7);
    height: calc(290px / 7);
    border-radius: 50%;
    margin: 2px;
  }
} 